validation_schemas/patterns/v12/R.30.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron"
    id="R.30"
    is-a="mantelbuis-inhoud-referenties">
    <param name="rule_number" value="30"/>
    <param name="scope" value="keronic:scope-name(.)"/>
    <param name="severity" value="keronic:rule-severity-within-scope(30, .)"/>
    <param name="object_type" value="name(.)"/>
    <param name="object_id" value="nlcs:ID"/>
</pattern>
