validation_schemas/patterns/v12/R.4_B.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron"
    id="R.4-B"
    is-a="lijn-geometrie-hoek-van-segmenten">
    <param name="rule_number" value="4"/>
    <param name="scope" value="keronic:scope-name(.)"/>
    <param name="severity" value="keronic:rule-severity-within-scope(4, .)"/>
    <param name="object_type" value="name(.)"/>
    <param name="object_id" value="nlcs:ID"/>
</pattern>
