validation_schemas/patterns/v12/R.6.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron"
    id="R.6"
    is-a="inmeetwijze-en-nauwkeurigheid-assets-elec">
    <param name="rule_number" value="6"/>
    <param name="scope" value="keronic:scope-name(.)"/>
    <param name="severity" value="keronic:rule-severity-within-scope(6, .)"/>
    <param name="object_type" value="name(.)"/>
    <param name="object_id" value="nlcs:ID"/>
</pattern>
