validation_schemas/patterns/v12/R.8_B.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron"
    id="R.8-A"
    is-a="verplichte-kenmerken-kabels-ls-extra">
    <param name="rule_number" value="8"/>
    <param name="scope" value="keronic:scope-name(.)"/>
    <param name="severity" value="keronic:rule-severity-within-scope(8, .)"/>
    <param name="object_type" value="name(.)"/>
    <param name="object_id" value="nlcs:ID"/>
</pattern>
